/* Google fonts */
@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Asap-Regular.ttf);
}

@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Asap-Bold.ttf);
}

@font-face {
  font-family: "Asap";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Asap-Italic.ttf);
}

@font-face {
  font-family: "Asap";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Asap-BoldItalic.ttf);
}

body {
  padding-top: 20px;
  padding-bottom: 60px;
  background-image: url("/images/background.png");
  background-position: top;
  background-repeat: repeat-x;
  background-color: #fcfcfc;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

p {
  text-align: justify;
}

/* Header */

.logo {
  font-family: "Asap";
  margin-bottom: 11px;
}

.logo img {
  float: left;
  margin-right: 6px;
}

.logo h3 {
  margin-top: 19px;
  color: #3b3b3b;
}

/* Navigation bar */

.navbar-principal .navbar-inner {
  padding: 0;
}

.navbar-principal .nav {
  margin: 0;
  display: table;
  width: 100%;
}

.navbar-principal .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}

.navbar-principal .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}

.navbar-principal .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}

.navbar-principal .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

footer p {
  text-align: center;
}

/* Map */

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  background-color: #fcfcfc;
}

.map-container {
  width: 700px;
  height: 700px;
  position: relative;
}

.map-container > img {
  position: absolute;
  top: 0px;
  left: 0px;
}

#piece-schema {
  margin-bottom: 10px;
}

.tec-local {
  position: absolute;
}

.tooltip {
  font-size: 14px;
  font-family: "Asap";
}

.red-local {
  width: 25px;
  height: 25px;
  top: 232px;
  left: 372px;
}

.green-local {
  width: 32px;
  height: 26px;
  top: 292px;
  left: 76px;
}

.yellow-local {
  width: 35px;
  height: 50px;
  top: 279px;
  left: 480px;
}

.blue-local {
  width: 32px;
  height: 86px;
  top: 579px;
  left: 430px;
}

.section-title {
  font-weight: bold;
}

.table-separator {
  background-color: #f0f0f0 !important;
  height: 5px;
  padding: 0px !important;
}

.first-solution {
  margin-left: 130px;
}

.solution-title {
  font-size: 20px;
  text-align: center;
  margin-top: 21px;
}

div.clickable {
  position: relative;
}

div.clickable a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=1);
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.subprice {
  font-weight: bold;
  font-size: 16px;
}

.rack .badge {
  top: -2px;
  position: relative;
}

.rack .well {
  padding: 9px;
}

.rack .well p {
  margin: 0px;
}

.rack h4 {
  margin: 0 0 10px 0;
}