{% extends 'architecture.html.twig' %}

{% block subcontent %}
<h3>Câblage d'une salle standard</h3>

<p>
    Chaque salle comporte un total de 25 prises <code>RJ45</code>. Une pour le professeur
    ainsi que 24 pour les élèves. Une salle "standard" sera toujours
    cablée de la même façon. Les 25 câbles <code>CAT6a F/UTP</code> arrivent
    via le faux plafond à l'entrée de la pièce. Ils sont divisés en deux
    pour être dirigés vers les deux coins de la pièce. Deux goulottes
    permettent aux câbles de descendre à la hauteur nécessaire comme
    l'illustre le schéma suivant.
</p>

<img id="piece-schema" src="/images/piece.png">

<div class="row">
    <div class="span8">
        <p>
            Nous installons 25 plastrons chacun équipé d’une prise <code>RJ45 CAT6a UTP</code>
            spécialement conçue pour s’insérer parfaitement dans une goulotte.
            Nous avons pensé chaque plastron comme un poste de travail
            indépendant. C’est pour cette raison que nous laissons la place
            pour ajouter deux prises électriques permettant la mise en œuvre
            d'un environnement de travail dédié. <strong>BlackSwitch</strong> ne s’occupe pas
            de l’installation électrique nécessaire pour une salle de cours.
        </p>
        <p>
            Nous privilégions la mise en place d’une architecture simple et
            modulable avec l’installation de clients légers. Un client léger
            coûte moins cher qu'un ordinateur fixe et permet la centralisation
            des données et des applications, simplifiant la mise à jour du
            parc informatique.
        </p>
    </div>
    <div class="span4">
        <img src="/images/connectiques.png">
    </div>
</div>

<div class="row">
    <div class="span4">
        <img src="/images/mesures.png">
    </div>
    <div class="span8">
        <p>
            Le nombre de mètres nécessaires pour câbler une salle a été calculé
            suivant les dimensions moyennes d’une salle présente sur le plan
            fournis par le rectorat de Toulouse. En moyenne une salle mesure
            <code>6.4m</code> par <code>8m</code> soit un total de <code>51.2 m²</code>.
        </p>

        <p>
            Avec une salle de classe d’une hauteur de <code>3m</code>, la goulotte descend
            de 2m du plafond pour arriver à une hauteur de 1m du niveau
            du sol. Celle-ci doit parcourir la totalité de la largeur de la
            pièce, 8m. Cela demande <code>10m</code> de goulotte pour l’un des deux côtés
            de la pièce, soit un total final de <code>20m</code> pour une salle de cours.
        </p>
    </div>
</div>

<h3 id="prix">Prix du câblage d'une salle standard</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Matériel</th>
            <th>Prix unitaire</th>
            <th>Unité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz</td>
            <td>1,046 &euro; / m</td>
            <td>250 m</td>
            <td>{{ calc_add('s', 261.5) }}</td>
        </tr>
        {# http://www.bis-electric.com/58-goulotte-et-moulure-pour-cable/1093-goulotte-pvc-60x120 #}
        <tr>
            <td>Goulotte PVC 60X120</td>
            <td>7,10 &euro; / m</td>
            <td>20 m</td>
            <td>{{ calc_add('s', 142) }}</td>
        </tr>
        {# http://www.bis-electric.com/58-goulotte-et-moulure-pour-cable/1480-plastron-equipe-1-prise-rj45-pour-goulotte-60x120 #}
        <tr>
            <td>Plastron équipé 1 Prise CAT6a UTP pour goulotte 60x120</td>
            <td>14,21 &euro;</td>
            <td>25</td>
            <td>{{ calc_add('s', 355.25) }}</td>
        </tr>

        <tr class="warning">
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td><span class="price">{{ calc_get('s') }}</span></td>
        </tr>
    </tbody>
</table>
{% endblock %}
