{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span9">
        <div class="map-container">
            <img id="layer-1" class="layer" src="/images/map/1.png" />
            <img id="layer-2" class="layer" src="/images/map/2.png" />
            <img src="/images/map/map.png" />
            <img id="layer-3" class="layer" src="/images/map/3.png" />
        </div>
    </div>
    <div class="span3">
        <label class="checkbox">
            <input type="checkbox" class="layer-checkbox" data-layer="3">
            Câblage
        </label>
        <label class="checkbox">
            <input type="checkbox" class="layer-checkbox" data-layer="2">
            Répartiteurs
        </label>
        <label class="checkbox">
            <input type="checkbox" class="layer-checkbox" data-layer="1">
            Échelle
        </label>
    </div>
</div>
{% endblock %}
