{% extends 'installations.html.twig' %}

{% block subcontent %}
<h3>Prix total du câblage physique</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Matériel</th>
            <th>Prix unitaire</th>
            <th>Unité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Chemins de câbles à bords roulés - Série BS (72x268)</td>
            <td>32,25 &euro; / m</td>
            <td>576 m</td>
            <td>18 576 &euro;</td>
        </tr>
    </tbody>
</table>
{% endblock %}
