{% extends 'installations.html.twig' %}

{% block subcontent %}
<h3>Prix total du câblage physique</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Matériel</th>
            <th>Prix unitaire</th>
            <th>Unité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="warning">
            <td colspan="4"><div class="section-title">Câbles</div></td>
        </tr>

        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz <span class="label label-important">couleur rouge</span></td>
            <td>1,046 &euro; / m</td>
            <td>9 865 m</td>
            <td>10 325 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz <span class="label label-success">couleur vert</span></td>
            <td>1,046 &euro; / m</td>
            <td>8 842 m</td>
            <td>9 254 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz <span class="label label-warning">couleur jaune</span></td>
            <td>1,046 &euro; / m</td>
            <td>7 788 m</td>
            <td>8 151 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz <span class="label label-info">couleur bleu</span></td>
            <td>1,046 &euro; / m</td>
            <td>4 512 m</td>
            <td>4 723 &euro;</td>
        </tr>
        {# http://www.blackbox.fr/fr-fr/fi/1256/11391/Cable-fibre-50-m-OM3-sous-tube/ #}
        <tr>
            <td>Câble fibre 50 &#181;m OM3 sous tube</td>
            <td></td>
            <td>218 m</td>
            <td></td>
        </tr>
        <tr>
            <td>Chemins de câbles à bords roulés - Série BS (72x268)</td>
            <td>32,25 &euro; / m</td>
            <td>576 m</td>
            <td>18 576 &euro;</td>
        </tr>

        <tr id="repartiteur-1" class="warning">
            <td colspan="4"><div class="section-title">Local technique secondaire #1 <span class="label label-important">couleur rouge</span></div></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1270/13097/Tiroir-de-brassage-fibre-coulissant/ #}
        <tr>
            <td>Tiroir de brassage fibre coulissant 24 ports</td>
            <td>129 &euro;</td>
            <td>1</td>
            <td>129 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1263/11271/Jarretiere-fibre-10G-OM3(LSZH)LC-LC/ #}
        <tr>
            <td>Jarretière fibre 10G OM3 3m (LSZH) LC-LC</td>
            <td>28 &euro;</td>
            <td>1</td>
            <td>28 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1246/12263/Platine-de-brassage-CAT6a-FTP/ #}
        <tr>
            <td>Platine de brassage CAT6a FTP 24 ports (JPM10GF24)</td>
            <td>85 &euro;</td>
            <td>13</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1241/12374/Cordon-de-brassage-PCI-6/ #}
        <tr>
            <td>Cordon de brassage PCI-6 U/FTP 2,1m</td>
            <td>11 &euro;</td>
            <td>300</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1365/12590/Armoire-Elite-42U,L600xP1000/ #}
        <tr>
            <td>Armoire Elite 42U, L600xP1000</td>
            <td>1 105 &euro;</td>
            <td>2</td>
            <td>2 210 &euro;</td>
        </tr>
        {# http://www.inmac-wstore.com/produits/p2404935/cisco-catalyst-2960s-48ts-l---commutateur---48-ports---gere---montable-sur-rack.htm #}
        <tr>
            <td>Switch Cisco Catalyst 48 ports stackable (2960S-48TS-L)</td>
            <td>2 530 &euro;</td>
            <td>7</td>
            <td></td>
        </tr>
        {# http://www.pixmania.com/fr/fr/5718668/art/cisco/cisco-c2960s-stack-switch.html #}
        <tr>
            <td>FlexStack Stack Module pour Cisco 2960S-STACK</td>
            <td></td>
            <td>6</td>
            <td></td>
        </tr>
        {# http://www.ldlc-pro.com/fiche/PB00141125.html #}
        <tr>
            <td>Convertisseur Gigabit SX Mini-GBIC SFP / Gigabit Ethernet</td>
            <td>242,39 &euro;</td>
            <td>1</td>
            <td></td>
        </tr>

        <tr id="repartiteur-2" class="warning">
            <td colspan="4"><div class="section-title">Local technique secondaire #2 <span class="label label-success">couleur vert</span></div></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1270/13097/Tiroir-de-brassage-fibre-coulissant/ #}
        <tr>
            <td>Tiroir de brassage fibre coulissant 24 ports</td>
            <td>129 &euro;</td>
            <td>1</td>
            <td>129 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1263/11271/Jarretiere-fibre-10G-OM3(LSZH)LC-LC/ #}
        <tr>
            <td>Jarretière fibre 10G OM3 3m (LSZH) LC-LC</td>
            <td>28 &euro;</td>
            <td>1</td>
            <td>28 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1246/12263/Platine-de-brassage-CAT6a-FTP/ #}
        <tr>
            <td>Platine de brassage CAT6a FTP 24 ports (JPM10GF24)</td>
            <td>85 &euro;</td>
            <td>13</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1241/12374/Cordon-de-brassage-PCI-6/ #}
        <tr>
            <td>Cordon de brassage PCI-6 U/FTP 2,1m</td>
            <td>11 &euro;</td>
            <td>300</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1365/12590/Armoire-Elite-42U,L600xP1000/ #}
        <tr>
            <td>Armoire Elite 42U, L600xP1000</td>
            <td>1 105 &euro;</td>
            <td>2</td>
            <td>2 210 &euro;</td>
        </tr>
        {# http://www.inmac-wstore.com/produits/p2404935/cisco-catalyst-2960s-48ts-l---commutateur---48-ports---gere---montable-sur-rack.htm #}
        <tr>
            <td>Switch Cisco Catalyst 48 ports stackable (2960S-48TS-L)</td>
            <td>2 530 &euro;</td>
            <td>7</td>
            <td></td>
        </tr>
        {# http://www.pixmania.com/fr/fr/5718668/art/cisco/cisco-c2960s-stack-switch.html #}
        <tr>
            <td>FlexStack Stack Module pour Cisco 2960S-STACK</td>
            <td></td>
            <td>6</td>
            <td></td>
        </tr>
        {# http://www.ldlc-pro.com/fiche/PB00141125.html #}
        <tr>
            <td>Convertisseur Gigabit SX Mini-GBIC SFP / Gigabit Ethernet</td>
            <td>242,39 &euro;</td>
            <td>1</td>
            <td></td>
        </tr>

        <tr id="repartiteur-3" class="warning">
            <td colspan="4"><div class="section-title">Local technique secondaire #3 <span class="label label-warning">couleur jaune</span></div></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1270/13097/Tiroir-de-brassage-fibre-coulissant/ #}
        <tr>
            <td>Tiroir de brassage fibre coulissant 24 ports</td>
            <td>129 &euro;</td>
            <td>1</td>
            <td>129 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1263/11271/Jarretiere-fibre-10G-OM3(LSZH)LC-LC/ #}
        <tr>
            <td>Jarretière fibre 10G OM3 3m (LSZH) LC-LC</td>
            <td>28 &euro;</td>
            <td>1</td>
            <td>28 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1246/12263/Platine-de-brassage-CAT6a-FTP/ #}
        <tr>
            <td>Platine de brassage CAT6a FTP 24 ports (JPM10GF24)</td>
            <td>85 &euro;</td>
            <td>15</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1241/12374/Cordon-de-brassage-PCI-6/ #}
        <tr>
            <td>Cordon de brassage PCI-6 U/FTP 2,1m</td>
            <td>11 &euro;</td>
            <td>350</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1365/12590/Armoire-Elite-42U,L600xP1000/ #}
        <tr>
            <td>Armoire Elite 42U, L600xP1000</td>
            <td>1 105 &euro;</td>
            <td>2</td>
            <td>2 210 &euro;</td>
        </tr>
        {# http://www.inmac-wstore.com/produits/p2404935/cisco-catalyst-2960s-48ts-l---commutateur---48-ports---gere---montable-sur-rack.htm #}
        <tr>
            <td>Switch Cisco Catalyst 48 ports stackable (2960S-48TS-L)</td>
            <td>2 530 &euro;</td>
            <td>8</td>
            <td></td>
        </tr>
        {# http://www.pixmania.com/fr/fr/5718668/art/cisco/cisco-c2960s-stack-switch.html #}
        <tr>
            <td>FlexStack Stack Module pour Cisco 2960S-STACK</td>
            <td></td>
            <td>7</td>
            <td></td>
        </tr>
        {# http://www.ldlc-pro.com/fiche/PB00141125.html #}
        <tr>
            <td>Convertisseur Gigabit SX Mini-GBIC SFP / Gigabit Ethernet</td>
            <td>242,39 &euro;</td>
            <td>1</td>
            <td></td>
        </tr>

        <tr id="repartiteur-4" class="warning">
            <td colspan="4"><div class="section-title">Local technique principal <span class="label label-info">couleur bleu</span></div></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1270/13097/Tiroir-de-brassage-fibre-coulissant/ #}
        <tr>
            <td>Tiroir de brassage fibre coulissant 24 ports</td>
            <td>129 &euro;</td>
            <td>1</td>
            <td>129 &euro;</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1263/11271/Jarretiere-fibre-10G-OM3(LSZH)LC-LC/ #}
        <tr>
            <td>Jarretière fibre 10G OM3 3m (LSZH) LC-LC</td>
            <td>28 &euro;</td>
            <td>4</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1246/12263/Platine-de-brassage-CAT6a-FTP/ #}
        <tr>
            <td>Platine de brassage CAT6a FTP 24 ports (JPM10GF24)</td>
            <td>85 &euro;</td>
            <td>7</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1241/12374/Cordon-de-brassage-PCI-6/ #}
        <tr>
            <td>Cordon de brassage PCI-6 U/FTP 2,1m</td>
            <td>11 &euro;</td>
            <td>160</td>
            <td></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1365/12590/Armoire-Elite-42U,L600xP1000/ #}
        <tr>
            <td>Armoire Elite 42U, L600xP1000</td>
            <td>1 105 &euro;</td>
            <td>2</td>
            <td>2 210 &euro;</td>
        </tr>
        {# http://www.inmac-wstore.com/produits/p2404935/cisco-catalyst-2960s-48ts-l---commutateur---48-ports---gere---montable-sur-rack.htm #}
        <tr>
            <td>Switch Cisco Catalyst 48 ports stackable (2960S-48TS-L)</td>
            <td>2 530 &euro;</td>
            <td>4</td>
            <td></td>
        </tr>
        {# http://www.inmac-wstore.com/produits/p2404934/cisco-catalyst-2960s-24ps-l---commutateur---24-ports---gere---montable-sur-rack.htm #}
        <tr>
            <td>Switch Cisco Catalyst PoE 24 ports stackable (2960S-24PS-L)</td>
            <td>1 990 &euro;</td>
            <td>1</td>
            <td>1 990 &euro;</td>
        </tr>
        {# http://www.pixmania.com/fr/fr/5718668/art/cisco/cisco-c2960s-stack-switch.html #}
        <tr>
            <td>FlexStack Stack Module pour Cisco 2960S-STACK</td>
            <td></td>
            <td>5</td>
            <td></td>
        </tr>
        {# http://www.ldlc-pro.com/fiche/PB00141125.html #}
        <tr>
            <td>Convertisseur Gigabit SX Mini-GBIC SFP / Gigabit Ethernet</td>
            <td>242,39 &euro;</td>
            <td>5</td>
            <td></td>
        </tr>
        {# http://www.ldlc-pro.com/fiche/PB00141125.html #}
        <tr>
            <td>Gigabit Ethernet 1000 Base-T Mini-GBIC RJ45 SFP Transceiver</td>
            <td>102 &euro;</td>
            <td>1</td>
            <td>102 &euro;</td>
        </tr>
    </tbody>
</table>
{% endblock %}
