{% extends 'installations.html.twig' %}

{% block subcontent %}
<h3>Câblage d'une salle standard</h3>

<p>
    Chaque salle comporte un total de 25 prises <code>RJ45</code>. Une pour le professeur
    ainsi que 24 pour les élèves. Une salle "standard" sera toujours
    cablé de la même façon. Les 25 câbles <code>CAT6a F/UTP</code> arrivent
    via le faux plafond à l'entrée de la pièce. Ils sont divisés en deux
    pour être dirigés vers les deux coins de la pièce. Deux goulottes
    permettent aux câbles de descendre à la hauteur nécessaire comme
    l'illustre le schéma suivant.
</p>

<img id="piece-schema" src="/images/piece.png">

<p>
    Le prise murale <code>RJ45</code> du professeur sera d'une couleur différente pour
    permettre de la diférencier des autres prises.
</p>

<div class="row">
    <div class="span4">
        <img src="/images/mesures.png">
    </div>
    <div class="span8">
        <p>Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna. Aliquam convallis sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu lectus.</p>
    </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.</p>

<div class="row">
    <div class="span8">
        <p>Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna. Aliquam convallis sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu lectus.</p>
    </div>
    <div class="span4">
        <img src="/images/connectiques.png">
    </div>
</div>

<p>Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus rutrum augue. Nulla tincidunt tincidunt mi. Curabitur iaculis, lorem vel rhoncus faucibus, felis magna fermentum augue, et ultricies lacus lorem varius purus. Curabitur eu amet.</p>

<h3>Prix du câblage d'une salle standard</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Matériel</th>
            <th>Prix unitaire</th>
            <th>Unité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {# https://www.igel.com/fr/produits/materiel-client-leger/serie-ud2.html #}
        <tr>
            <td>Client léger - IGEL UD2 Universal Desktop Thin Client</td>
            <td></td>
            <td>25</td>
            <td></td>
        </tr>
        {# http://www.ldlc-pro.com/fiche/PB00117562.html #}
        <tr>
            <td>Clavier et souris - Microsoft Harware for Business Wired Desktop 400</td>
            <td>11,62 &euro;</td>
            <td>25</td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
