{% extends 'layout.html.twig' %}

{% set menu = 'societe' %}

{% block content %}
<div id="presentation">
    <img src="/images/logo_big.png">
    <div id="blackswitch">BlackSwitch</div>
    <div id="title">Réponse à l'appel d'offre du Rectorat de Toulouse</div>
</div>
<div class="clearfix"></div>

<p>
    <strong>BlackSwitch</strong> est une société de <em>Service en Ingénierie Informatique</em> (SSII), experte dans
    le domaine des Nouvelles Technologies de l’information. BlackSwitch prend en charge la
    conception et l’installation des systèmes informatique et téléphonique pour fournir les
    meilleurs services à votre entreprise.
</p>

<p>
    Aller plus loin que ce qui est attendu, c’est notre façon de travailler. Nous répondons à
    l’attente du client et nous vous proposons des améliorations avec une analyse réalisée par
    nos experts. Nous mettons à votre disposition un support technique qui vous aide à évaluer
    vos choix technologiques et vous propose les solutions d’infrastructures adaptées à vos
    projets.
</p>

<p>
    <strong>BlackSwitch</strong> réalise l’installation de bout-en-bout. Si vous choisissez BlackSwitch vous
    faîtes le choix d’un prestataire qualifié pour répondre à vos exigences mais aussi celui d’un
    partenaire qui s’engage à ce que vous soyez pleinement satisfait des solutions déployées.
</p>

<p class="text-center"><img width="80%" src="/images/logos.png"></p>

<h3 style="margin-bottom: 20px;">Notre équipe</h3>

<div class="row">
    <div class="span3">
        <div class="member">
            <img src="/images/member/julien.png">
            <p class="name">Julien Brochet</p>
        </div>
    </div>
    <div class="span3">
        <div class="member">
            <img src="/images/member/gregoire.png">
            <p class="name">Grégoire Mirebeau</p>
        </div>
    </div>
    <div class="span3">
        <div class="member">
            <img src="/images/member/cyril.png">
            <p class="name">Cyril Monsieux</p>
        </div>
    </div>
    <div class="span3">
        <div class="member">
            <img src="/images/member/tung.png">
            <p class="name">Tung Nguyen</p>
        </div>
    </div>
</div>
{% endblock %}
