{% extends 'layout.html.twig' %}

{% set menu = 'solutions' %}
{% block title %}Solution low-cost{% endblock %}

{% block content %}
<h3>Solution low-cost</h3>

<p>
    Cette solution n’est pas à voir comme une solution bas de gamme. Elle répond
    <em>entièrement</em> à vos besoins tout en minimisant au <em>maximum</em> le prix de la solution.
    Cette solution a été développée en gardant à l’esprit les principes de sécurité et
    de qualité de service.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Section</th>
            <th>Prix</th>
            <th>Prix/mois</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong><a href="{{ path('archi_prix') }}">Architecture</a></strong></td>
            <td>8 642 556,78 &euro;</td>
            <td>0 &euro;</td>
        </tr>
        <tr>
            <td><strong>WAN</strong></td>
            <td>7 430 &euro;</td>
            <td>6 251 &euro;</td>
        </tr>
        <tr>
            <td><strong>Active Directory et RDS</strong></td>
            <td>966 968,37 &euro;</td>
            <td>0 &euro;</td>
        </tr>
        <tr>
            <td><strong>Serveurs</strong></td>
            <td>556 920 &euro;</td>
            <td>0 &euro;</td>
        </tr>
        <tr>
            <td><strong>Stockage</strong></td>
            <td>70 506 &euro;</td>
            <td>0 &euro;</td>
        </tr>
        <tr>
            <td><strong>Sécurité</strong></td>
            <td>3 325 &euro;</td>
            <td>0 &euro;</td>
        </tr>
        <tr>
            <td><strong>Téléphonie</strong></td>
            <td>0 &euro;</td>
            <td>1 883,2 &euro;</td>
        </tr>
        <tr>
            <td><strong>Messagerie</strong></td>
            <td>1 009 451,02 &euro;</td>
            <td>0 &euro;</td>
        </tr>
        <tr>
            <td><strong>Installation</strong></td>
            <td>571 200 &euro;</td>
            <td>0 &euro;</td>
        </tr>
        <tr>
            <td><strong>Bureau d'étude</strong></td>
            <td>76 800 &euro;</td>
            <td>0 &euro;</td>
        </tr>
        <tr class="warning">
            <td><strong>Total</strong></td>
            <td><span class="price">11 905 157,17 &euro;</span></td>
            <td><span class="price">8 134,2 &euro;</span></td>
        </tr>
    </tbody>
</table>
{% endblock %}
