{% extends 'layout.html.twig' %}

{% set menu = 'solutions' %}

{% block content %}
<div class="row">
    <div class="span3 offset1 solution first-solution">
        <div class="well clickable">
            <a href="{{ path('solution_low') }}"></a>
            <img src="/images/solution-1.png">
            <div class="solution-title">
                Solution low-cost
            </div>
        </div>
    </div>
    <div class="span3 solution">
        <div class="well clickable">
            <a href="{{ path('solution_middle') }}"></a>
            <img src="/images/solution-2.png">
            <div class="solution-title">
                Solution qualité/prix
            </div>
        </div>
    </div>
    <div class="span3 solution">
        <div class="well clickable">
            <a href="{{ path('solution_premium') }}"></a>
            <img src="/images/solution-3.png">
            <div class="solution-title">
                Solution premium
            </div>
        </div>
    </div>
</div>
{% endblock %}
